@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
.container {
    display: flex;
    height: 100vh;
    justify-content: end;
}
.left{
    background-image: url(../assets/img/background-pqueuno.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    display: flex;
    height: 100vh;
    width: 60%;
}
.left h1{
    font-size: 30px;
    color: black;
    text-align: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right {
    background-color: #d1bd95;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.right h1{
    color: black;
    font-size: 48px;
    font-weight: bold;
}
.formulario {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.campo span{
    color: black;
    font-size: 16px;
}
.campo input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.campo select{
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.conta{
    text-align: center;
    align-items: center;
}   
.conta button {
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}
.conta button:hover {
    background-color: #45a049;
}
.conta button a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.conta a{
    text-decoration: none;
    color: black;
}
.conta a:hover{
    text-decoration: underline;
}
